In [60]:
import pandas as pd
df=pd.read_excel("8C.xlsx")
df.head(10)

,Roll,Name_Main,2020-04-27 00:00:00,2020-04-28 00:00:00,2020-04-29 00:00:00,2020-04-30 00:00:00,2020-05-01 00:00:00,2020-05-02 00:00:00,2020-05-03 00:00:00
0,1,Ananya Aishwarya,P,P,P,P,P,P,NaN
1,2,Priya Raj,P,P,P,P,P,P,NaN
2,3,Ritika Gupta,P,P,P,P,P,A,NaN
3,4,Sonali kumari,P,P,P,P,P,P,NaN
4,5,Jyoti Kumari,P,P,P,P,P,P,NaN
5,6,Amisha Verma Ekka,P,P,P,P,P,P,NaN
6,7,Shristi Kumari,A,A,A,A,A,A,NaN
7,8,Sneha Kumari,P,P,P,P,P,P,NaN
8,9,Suman Kumari,P,P,P,P,P,P,NaN
9,10,Anjali Singh,P,P,P,P,P,P,NaN

In [61]:
df.sum()

Roll                                                                1378
Name_Main              Ananya AishwaryaPriya RajRitika GuptaSonali ku...
2020-04-27 00:00:00    PPPPPPAPPPPPAAPAPAAPPPAPAPAAPPPPAAPAPAPPPPPAPP...
2020-04-28 00:00:00    PPPPPPAPPPPPAAPAPAPPPPAPAAAPPPPPAAPAPAPPPPPPPP...
2020-04-29 00:00:00    PPPPPPAPPPPPAAPPPAPPPPAPAPAPPPPPAAAAPAPPAAPAPP...
2020-04-30 00:00:00    PPPPPPAPPPPPAAPPPAPPPPAPAPAPPPPPAAPAPAPPPPPAPP...
2020-05-01 00:00:00    PPPPPPAPPPPPAAPPPAPPPPAAAPAPPPPPAAPAPAPPPPPPPP...
2020-05-02 00:00:00    PPAPPPAPPPPPAAPPPAAPPPAPAPAAPPPPAAPAPAPAPPPPPP...
2020-05-03 00:00:00                                                    0
dtype: object

In [62]:
df.count()

Roll                   52
Name_Main              52
2020-04-27 00:00:00    52
2020-04-28 00:00:00    52
2020-04-29 00:00:00    52
2020-04-30 00:00:00    52
2020-05-01 00:00:00    52
2020-05-02 00:00:00    52
2020-05-03 00:00:00     0
dtype: int64

In [63]:
df["Roll"]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
50    51
51    52
Name: Roll, dtype: int64

In [64]:
headers=list(df.columns.values)
headers

['Roll',
 'Name_Main',
 datetime.datetime(2020, 4, 27, 0, 0),
 datetime.datetime(2020, 4, 28, 0, 0),
 datetime.datetime(2020, 4, 29, 0, 0),
 datetime.datetime(2020, 4, 30, 0, 0),
 datetime.datetime(2020, 5, 1, 0, 0),
 datetime.datetime(2020, 5, 2, 0, 0),
 datetime.datetime(2020, 5, 3, 0, 0)]

In [65]:
import datetime

#date_df=list(df[datetime.datetime(2020, 4, 27, 0, 0)])
date_df=list(df[headers[2]])
date_df.count("P")+date_df.count("A")==92

False

In [66]:
import numpy as np

In [67]:
def count(df):
    df['Absent'] = np.sum(df == 'A')
    df['Present'] = np.sum(df == 'P')
    return df

df_new=df.apply(count, axis = 1)

df_new

,Roll,Name_Main,2020-04-27 00:00:00,2020-04-28 00:00:00,2020-04-29 00:00:00,2020-04-30 00:00:00,2020-05-01 00:00:00,2020-05-02 00:00:00,2020-05-03 00:00:00,Absent,Present
0,1,Ananya Aishwarya,P,P,P,P,P,P,NaN,0,6
1,2,Priya Raj,P,P,P,P,P,P,NaN,0,6
2,3,Ritika Gupta,P,P,P,P,P,A,NaN,1,5
3,4,Sonali kumari,P,P,P,P,P,P,NaN,0,6
4,5,Jyoti Kumari,P,P,P,P,P,P,NaN,0,6
5,6,Amisha Verma Ekka,P,P,P,P,P,P,NaN,0,6
6,7,Shristi Kumari,A,A,A,A,A,A,NaN,6,0
7,8,Sneha Kumari,P,P,P,P,P,P,NaN,0,6
8,9,Suman Kumari,P,P,P,P,P,P,NaN,0,6
9,10,Anjali Singh,P,P,P,P,P,P,NaN,0,6
10,11,Sejal Kumari,P,P,P,P,P,P,NaN,0,6
11,12,Simra Haque,P,P,P,P,P,P,NaN,0,6
12,13,Nitu Kacchap,A,A,A,A,A,A,NaN,6,0
13,14,Sanjana Kumari,A,A,A,A,A,A,NaN,6,0
14,15,Sweta Rani,P,P,P,P,P,P,NaN,0,6
15,16,Aditi Arya,A,A,P,P,P,P,NaN,2,4
16,17,Poonam Kumari,P,P,P,P,P,P,NaN,0,6
17,18,Soni Kumari,A,A,A,A,A,A,NaN,6,0
18,19,Ankita Rani,A,P,P,P,P,A,NaN,2,4
19,20,Sweksha Singh,P,P,P,P,P,P,NaN,0,6
20,21,Shakshi Kashyap,P,P,P,P,P,P,NaN,0,6
21,22,Kanchita Kumari,P,P,P,P,P,P,NaN,0,6
22,23,Nidhi Kumari,A,A,A,A,A,A,NaN,6,0
23,24,Osheen Francis,P,P,P,P,A,P,NaN,1,5
24,25,Rani Kumari,A,A,A,A,A,A,NaN,6,0
25,26,Poonam Kumari,P,A,P,P,P,P,NaN,1,5
26,27,Madhu Rani,A,A,A,A,A,A,NaN,6,0
27,28,Soni Toppo,A,P,P,P,P,A,NaN,2,4
28,29,Shiya Raj,P,P,P,P,P,P,NaN,0,6
29,30,Sunaina Kumari,P,P,P,P,P,P,NaN,0,6
30,31,Manisha Kumari,P,P,P,P,P,P,NaN,0,6
31,32,Mayuri Kumari,P,P,P,P,P,P,NaN,0,6
32,33,Susmita Kumari,A,A,A,A,A,A,NaN,6,0
33,34,Nazish Perween,A,A,A,A,A,A,NaN,6,0
34,35,Chandni Kumari,P,P,A,P,P,P,NaN,1,5
35,36,Priti Kumari,A,A,A,A,A,A,NaN,6,0
36,37,Gungun Roy,P,P,P,P,P,P,NaN,0,6
37,38,Sonal Kumari,A,A,A,A,A,A,NaN,6,0
38,39,Anjali Kumari,P,P,P,P,P,P,NaN,0,6
39,40,Nishu Kumari,P,P,P,P,P,A,NaN,1,5
40,41,Saniya Bharti,P,P,A,P,P,P,NaN,1,5
41,42,Suhani Kumari,P,P,A,P,P,P,NaN,1,5
42,43,Krity Kumari,P,P,P,P,P,P,NaN,0,6
43,44,Dolly Kumari,A,P,A,A,P,P,NaN,3,3
44,45,Jyoti Khalkho,P,P,P,P,P,P,NaN,0,6
45,46,Disha Kumari,P,P,P,P,P,P,NaN,0,6
46,47,Trisha Kumari,A,A,A,A,A,A,NaN,6,0
47,48,Iram Saba,A,P,A,P,A,P,NaN,3,3
48,49,Priya Kumari,A,A,A,A,A,A,NaN,6,0
49,50,Sonal Kumari -II,A,A,A,A,A,A,NaN,6,0
50,51,Jashika Tanvidhan,P,P,P,P,P,P,NaN,0,6
51,52,Varsha Kumari,P,P,P,P,P,P,NaN,0,6

In [68]:
df_new.max()

Roll                              52
Name_Main              Varsha Kumari
2020-04-27 00:00:00                P
2020-04-28 00:00:00                P
2020-04-29 00:00:00                P
2020-04-30 00:00:00                P
2020-05-01 00:00:00                P
2020-05-02 00:00:00                P
2020-05-03 00:00:00             None
Absent                             6
Present                            6
dtype: object

In [69]:
# filtering with query method 
query1=df_new.query('Absent == 6')

In [70]:
Absent6days=list(query1["Roll"])
print(Absent6days)

[7, 13, 14, 18, 23, 25, 27, 33, 34, 36, 38, 47, 49, 50]

In [71]:
Absent6daysName=list(query1["Name_Main"])
print(Absent6daysName)

['Shristi Kumari', 'Nitu Kacchap', 'Sanjana Kumari', 'Soni Kumari', 'Nidhi Kumari', 'Rani Kumari', 'Madhu Rani', 'Susmita Kumari', 'Nazish Perween', 'Priti Kumari', 'Sonal Kumari', 'Trisha Kumari', 'Priya Kumari', 'Sonal Kumari -II']

In [72]:
# using dictionary comprehension 
# to convert lists to dictionary 
def merge_list_to_dict(test_keys,test_values):
    merged_dict = {test_keys[i]: test_values[i] for i in range(len(test_keys))} 
    return merged_dict
Dict6DaysAbsent=merge_list_to_dict(Absent6days,Absent6daysName)
print(Dict6DaysAbsent)

{7: 'Shristi Kumari', 13: 'Nitu Kacchap', 14: 'Sanjana Kumari', 18: 'Soni Kumari', 23: 'Nidhi Kumari', 25: 'Rani Kumari', 27: 'Madhu Rani', 33: 'Susmita Kumari', 34: 'Nazish Perween', 36: 'Priti Kumari', 38: 'Sonal Kumari', 47: 'Trisha Kumari', 49: 'Priya Kumari', 50: 'Sonal Kumari -II'}

In [73]:
def print_dict(new_dict):
    #print("keys: values") 
    for i in new_dict: 
        print(i, " :", new_dict[i]) 
print_dict(Dict6DaysAbsent)

7  : Shristi Kumari
13  : Nitu Kacchap
14  : Sanjana Kumari
18  : Soni Kumari
23  : Nidhi Kumari
25  : Rani Kumari
27  : Madhu Rani
33  : Susmita Kumari
34  : Nazish Perween
36  : Priti Kumari
38  : Sonal Kumari
47  : Trisha Kumari
49  : Priya Kumari
50  : Sonal Kumari -II

In [74]:
# filtering with query method 
query2=df_new.query('Absent >= 4 and Absent < 6 ') 
query2

Empty DataFrame
Columns: [Roll, Name_Main, 2020-04-27 00:00:00, 2020-04-28 00:00:00, 2020-04-29 00:00:00, 2020-04-30 00:00:00, 2020-05-01 00:00:00, 2020-05-02 00:00:00, 2020-05-03 00:00:00, Absent, Present]
Index: []

In [75]:
Absent45days=list(query2["Roll"])
print(Absent45days)
Absent45daysName=list(query2["Name_Main"])
#print(Absent6daysName)
Dict45DaysAbsent=merge_list_to_dict(Absent45days,Absent45daysName)
#print(Dict6DaysAbsent)
print_dict(Dict45DaysAbsent)

[]

In [76]:
# filtering with query method 
query3=df_new.query('Absent >= 1 and Absent <= 2 ') 
query3

,Roll,Name_Main,2020-04-27 00:00:00,2020-04-28 00:00:00,2020-04-29 00:00:00,2020-04-30 00:00:00,2020-05-01 00:00:00,2020-05-02 00:00:00,2020-05-03 00:00:00,Absent,Present
2,3,Ritika Gupta,P,P,P,P,P,A,NaN,1,5
15,16,Aditi Arya,A,A,P,P,P,P,NaN,2,4
18,19,Ankita Rani,A,P,P,P,P,A,NaN,2,4
23,24,Osheen Francis,P,P,P,P,A,P,NaN,1,5
25,26,Poonam Kumari,P,A,P,P,P,P,NaN,1,5
27,28,Soni Toppo,A,P,P,P,P,A,NaN,2,4
34,35,Chandni Kumari,P,P,A,P,P,P,NaN,1,5
39,40,Nishu Kumari,P,P,P,P,P,A,NaN,1,5
40,41,Saniya Bharti,P,P,A,P,P,P,NaN,1,5
41,42,Suhani Kumari,P,P,A,P,P,P,NaN,1,5

In [77]:
Absent12days=list(query3["Roll"])
print(Absent12days)
Absent12daysName=list(query3["Name_Main"])
Dict12DaysAbsent=merge_list_to_dict(Absent12days,Absent12daysName)
print_dict(Dict12DaysAbsent)

[3, 16, 19, 24, 26, 28, 35, 40, 41, 42]
3  : Ritika Gupta
16  : Aditi Arya
19  : Ankita Rani
24  : Osheen Francis
26  : Poonam Kumari
28  : Soni Toppo
35  : Chandni Kumari
40  : Nishu Kumari
41  : Saniya Bharti
42  : Suhani Kumari

In [78]:
# filtering with query method 
query4=df_new.query('Present >= 6') 
query4

,Roll,Name_Main,2020-04-27 00:00:00,2020-04-28 00:00:00,2020-04-29 00:00:00,2020-04-30 00:00:00,2020-05-01 00:00:00,2020-05-02 00:00:00,2020-05-03 00:00:00,Absent,Present
0,1,Ananya Aishwarya,P,P,P,P,P,P,NaN,0,6
1,2,Priya Raj,P,P,P,P,P,P,NaN,0,6
3,4,Sonali kumari,P,P,P,P,P,P,NaN,0,6
4,5,Jyoti Kumari,P,P,P,P,P,P,NaN,0,6
5,6,Amisha Verma Ekka,P,P,P,P,P,P,NaN,0,6
7,8,Sneha Kumari,P,P,P,P,P,P,NaN,0,6
8,9,Suman Kumari,P,P,P,P,P,P,NaN,0,6
9,10,Anjali Singh,P,P,P,P,P,P,NaN,0,6
10,11,Sejal Kumari,P,P,P,P,P,P,NaN,0,6
11,12,Simra Haque,P,P,P,P,P,P,NaN,0,6
14,15,Sweta Rani,P,P,P,P,P,P,NaN,0,6
16,17,Poonam Kumari,P,P,P,P,P,P,NaN,0,6
19,20,Sweksha Singh,P,P,P,P,P,P,NaN,0,6
20,21,Shakshi Kashyap,P,P,P,P,P,P,NaN,0,6
21,22,Kanchita Kumari,P,P,P,P,P,P,NaN,0,6
28,29,Shiya Raj,P,P,P,P,P,P,NaN,0,6
29,30,Sunaina Kumari,P,P,P,P,P,P,NaN,0,6
30,31,Manisha Kumari,P,P,P,P,P,P,NaN,0,6
31,32,Mayuri Kumari,P,P,P,P,P,P,NaN,0,6
36,37,Gungun Roy,P,P,P,P,P,P,NaN,0,6
38,39,Anjali Kumari,P,P,P,P,P,P,NaN,0,6
42,43,Krity Kumari,P,P,P,P,P,P,NaN,0,6
44,45,Jyoti Khalkho,P,P,P,P,P,P,NaN,0,6
45,46,Disha Kumari,P,P,P,P,P,P,NaN,0,6
50,51,Jashika Tanvidhan,P,P,P,P,P,P,NaN,0,6
51,52,Varsha Kumari,P,P,P,P,P,P,NaN,0,6

In [79]:
Absent0days=list(query4["Roll"])
print(Absent0days)
Absent0daysName=list(query4["Name_Main"])
Dict0DaysAbsent=merge_list_to_dict(Absent0days,Absent0daysName)
print_dict(Dict0DaysAbsent)

[1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 15, 17, 20, 21, 22, 29, 30, 31, 32, 37, 39, 43, 45, 46, 51, 52]
1  : Ananya Aishwarya
2  : Priya Raj
4  : Sonali kumari
5  : Jyoti Kumari
6  : Amisha Verma Ekka
8  : Sneha Kumari
9  : Suman Kumari
10  : Anjali Singh
11  : Sejal Kumari
12  : Simra Haque
15  : Sweta Rani
17  : Poonam Kumari
20  : Sweksha Singh
21  : Shakshi Kashyap
22  : Kanchita Kumari
29  : Shiya Raj
30  : Sunaina Kumari
31  : Manisha Kumari
32  : Mayuri Kumari
37  : Gungun Roy
39  : Anjali Kumari
43  : Krity Kumari
45  : Jyoti Khalkho
46  : Disha Kumari
51  : Jashika Tanvidhan
52  : Varsha Kumari

#alternative days present absent
"""
datetime.datetime(2020, 4, 27, 0, 0),
 datetime.datetime(2020, 4, 28, 0, 0),
 datetime.datetime(2020, 4, 29, 0, 0),
 datetime.datetime(2020, 4, 30, 0, 0),
 datetime.datetime(2020, 5, 1, 0, 0),
 datetime.datetime(2020, 5, 2, 0, 0),
 datetime.datetime(2020, 5, 3, 0, 0),"""

In [80]:
df_ch=df_new.copy(deep=True)

In [81]:
counter=0
big_count=0
for each in headers:
    big_count+=1
    if(type(each)==datetime.datetime):
        counter+=1
        if(counter==1):
            starter=big_count-1
print("Counter :",counter)
print("Starter :",starter)

Counter : 7
Starter : 2

In [82]:
no_of_dates=counter
new_count=0
for i in range(starter,no_of_dates+starter):
    date_string="day_{}".format(new_count)
    df_ch.rename(columns = {headers[i]:date_string}, inplace = True)
    new_count+=1

In [83]:
df_ch

,Roll,Name_Main,day_0,day_1,day_2,day_3,day_4,day_5,day_6,Absent,Present
0,1,Ananya Aishwarya,P,P,P,P,P,P,NaN,0,6
1,2,Priya Raj,P,P,P,P,P,P,NaN,0,6
2,3,Ritika Gupta,P,P,P,P,P,A,NaN,1,5
3,4,Sonali kumari,P,P,P,P,P,P,NaN,0,6
4,5,Jyoti Kumari,P,P,P,P,P,P,NaN,0,6
5,6,Amisha Verma Ekka,P,P,P,P,P,P,NaN,0,6
6,7,Shristi Kumari,A,A,A,A,A,A,NaN,6,0
7,8,Sneha Kumari,P,P,P,P,P,P,NaN,0,6
8,9,Suman Kumari,P,P,P,P,P,P,NaN,0,6
9,10,Anjali Singh,P,P,P,P,P,P,NaN,0,6
10,11,Sejal Kumari,P,P,P,P,P,P,NaN,0,6
11,12,Simra Haque,P,P,P,P,P,P,NaN,0,6
12,13,Nitu Kacchap,A,A,A,A,A,A,NaN,6,0
13,14,Sanjana Kumari,A,A,A,A,A,A,NaN,6,0
14,15,Sweta Rani,P,P,P,P,P,P,NaN,0,6
15,16,Aditi Arya,A,A,P,P,P,P,NaN,2,4
16,17,Poonam Kumari,P,P,P,P,P,P,NaN,0,6
17,18,Soni Kumari,A,A,A,A,A,A,NaN,6,0
18,19,Ankita Rani,A,P,P,P,P,A,NaN,2,4
19,20,Sweksha Singh,P,P,P,P,P,P,NaN,0,6
20,21,Shakshi Kashyap,P,P,P,P,P,P,NaN,0,6
21,22,Kanchita Kumari,P,P,P,P,P,P,NaN,0,6
22,23,Nidhi Kumari,A,A,A,A,A,A,NaN,6,0
23,24,Osheen Francis,P,P,P,P,A,P,NaN,1,5
24,25,Rani Kumari,A,A,A,A,A,A,NaN,6,0
25,26,Poonam Kumari,P,A,P,P,P,P,NaN,1,5
26,27,Madhu Rani,A,A,A,A,A,A,NaN,6,0
27,28,Soni Toppo,A,P,P,P,P,A,NaN,2,4
28,29,Shiya Raj,P,P,P,P,P,P,NaN,0,6
29,30,Sunaina Kumari,P,P,P,P,P,P,NaN,0,6
30,31,Manisha Kumari,P,P,P,P,P,P,NaN,0,6
31,32,Mayuri Kumari,P,P,P,P,P,P,NaN,0,6
32,33,Susmita Kumari,A,A,A,A,A,A,NaN,6,0
33,34,Nazish Perween,A,A,A,A,A,A,NaN,6,0
34,35,Chandni Kumari,P,P,A,P,P,P,NaN,1,5
35,36,Priti Kumari,A,A,A,A,A,A,NaN,6,0
36,37,Gungun Roy,P,P,P,P,P,P,NaN,0,6
37,38,Sonal Kumari,A,A,A,A,A,A,NaN,6,0
38,39,Anjali Kumari,P,P,P,P,P,P,NaN,0,6
39,40,Nishu Kumari,P,P,P,P,P,A,NaN,1,5
40,41,Saniya Bharti,P,P,A,P,P,P,NaN,1,5
41,42,Suhani Kumari,P,P,A,P,P,P,NaN,1,5
42,43,Krity Kumari,P,P,P,P,P,P,NaN,0,6
43,44,Dolly Kumari,A,P,A,A,P,P,NaN,3,3
44,45,Jyoti Khalkho,P,P,P,P,P,P,NaN,0,6
45,46,Disha Kumari,P,P,P,P,P,P,NaN,0,6
46,47,Trisha Kumari,A,A,A,A,A,A,NaN,6,0
47,48,Iram Saba,A,P,A,P,A,P,NaN,3,3
48,49,Priya Kumari,A,A,A,A,A,A,NaN,6,0
49,50,Sonal Kumari -II,A,A,A,A,A,A,NaN,6,0
50,51,Jashika Tanvidhan,P,P,P,P,P,P,NaN,0,6
51,52,Varsha Kumari,P,P,P,P,P,P,NaN,0,6

In [84]:
# filtering with query method 
query6=df_ch.query('day_0=="A" and day_1=="P" and day_2=="A"and day_3=="P" and day_4=="A"and day_5=="P"') 
query6

,Roll,Name_Main,day_0,day_1,day_2,day_3,day_4,day_5,day_6,Absent,Present
47,48,Iram Saba,A,P,A,P,A,P,NaN,3,3

In [85]:
def show_details(main_query):
    Actiondays=list(main_query["Roll"])
    ActiondaysName=list(main_query["Name_Main"])
    DictActiondays=merge_list_to_dict(Actiondays,ActiondaysName)
    print_dict(DictActiondays)
show_details(query6)

48  : Iram Saba

In [86]:
# filtering with query method 
query7=df_ch.query('day_0=="P" and day_1=="A" and day_2=="P"and day_3=="A" and day_4=="P"and day_5=="A"') 
query7

Empty DataFrame
Columns: [Roll, Name_Main, day_0, day_1, day_2, day_3, day_4, day_5, day_6, Absent, Present]
Index: []

In [87]:
show_details(query7)